<div>
    TODO 리스트

    <table>
        <thead :style="styleThead">
            <tr>
                <th>
                    <input type="checkbox">
                </th>
                <th>name</th>
                <th>todo</th>
            </tr>
        </thead>
        <tbody :style="styleTbody">
            <tr v-for="item in todos">
                <td>
                    <input type="checkbox" :value="item.name">
                </td>
                <td>{{item.name}}</td>
                <td>{{item.todo}}</td>
            </tr>
        </tbody>
    </table>
</div>